# Group5_Resume_Tracking_System

#### Anand Pratap Singh (12020084)
#### Francis David Vuppuluri (12020028)
#### Lavanya SN (12020075)
#### Puneet Srivastava (12020026)
#### Sangeeta Thakur (12020088)

In [15]:
import pandas as pd
import numpy as np
import utils.cityCleaning as cc

In [16]:
pd.set_option('max_colwidth', 400)

In [17]:
df = pd.read_csv('./data/CandidatesFromLinkedIn.csv')

In [18]:
df

,Name,Location,Job Titles,About,Educations,Top Skills,Years of Experience
0,Vishal Agarwal,"\n Pune, Maharashtra, India\n","PPO- IBM HRELP Intern 2020 || National Runners-up, Flipkart WiRED 4.0 || MBA HR- SCMHRD || B.Tech- VSSUT","\n\n After completing my bachelors in Electrical Engineering from state govt. college of Odisha, i went ahead to pursue MBA in Human Resources from SCMHRD (Pune) which has given me immense opportunities to learn in varied ways ranging from academics to exposure through internships, live projects and corporate competitions. I believe in possessing a growth mindset which keeps me open to new ...","['Symbiosis Centre For Management and Human Resource Development', 'Veer Surendra Sai University Of Technology ( Formerly UCE ), Burla', ""Mother's Public School, Bhubaneswar""]","['Human Resources (HR)', 'Management', 'Microsoft Office', 'Strategic Planning', 'Engineering', 'Volunteering', 'Microsoft Excel', 'Microsoft PowerPoint', 'Microsoft Word', 'Matlab', 'C++', 'C', 'Team Management', 'Teamwork', 'Team Leadership', 'Leadership', 'Public Speaking', 'Data Analytics']","['2 mos', '2 mos', '3 mos', '2 mos', '2 mos']"
1,Shivani Chandola,"\n Noida, Uttar Pradesh, India\n",Indian School of Business (ISB) Hyd | Commodity Sourcing | Product Management | Branding Solutions | Business Analytics,"\n\n Professionally , I am a relentless team player & exercise building long term customer relationships. My resilience towards any task & calculated risk taking ability is my driving force. It sets me apart from rest as this quality does not constrict me to a certain role, rather it allows me to work through a problem irrespective of its role.Personally, I find my calm and serenity via boo...","['Indian School of Business', 'Amity University Noida']","['Digital Marketing', 'Vendor Management', 'Strategic Sourcing', 'Product Management', 'Branding', 'Marketing', 'Google Analytics', 'Data Analytics', 'Order Fulfillment']","['5 yrs 8 mos', '3 yrs 5 mos', 'Expires Aug 2021']"
2,Sayantika Banik,"\n Bengaluru, Karnataka, India\n",D&I Advocate| Data Engineer| Building eaze4U,\n\n A developer who understands business goals and values the strength of communities.\n \n,"['Indian School of Business', 'Massachusetts Institute of Technology', 'Visvesvaraya Technological University']","['Leadership', 'Research', 'Teamwork', 'Data Analysis', 'Statistics', 'SQL', 'Amazon Web Services (AWS)', 'Django REST Framework', 'PostgreSQL', 'Elasticsearch', 'Django', 'Python', 'R', 'Tableau', 'PySpark', 'Public Speaking', 'Community Development']","['4 mos', '1 yr 1 mo', '1 yr 5 mos', '2 mos', '3 mos']"
3,anusha bathini,\n India\n,WLAN MAC Engineer at Uurmi,NaN,[],"['C', 'Linux', 'Microsoft Office', 'Microsoft Excel']",['8 yrs 2 mos']
4,Likitha Bhattiprolu,\n India\n,Business Analyst at Tredence Analytics | ISB,"\n\n I'm a B.Tech graduate and a passionate Business Analyst with demonstrated history of working in the E-commerce and Management Consulting industry. I'm skilled in Python, R, Tableau and Statistical modeling. I'm currently pursuing my Post Graduate Diploma in Business Analytics at Indian School of Business.\n \n","['Indian School of Business', 'CVR College of Engineering, JNTU Hyderabad']","['Microsoft Excel', 'Python (Programming Language)', 'SQL', 'Project Management', 'Retail Analytics', 'Statistical Modeling', 'Tableau', 'Microsoft Power BI', 'Git', 'C', 'Verilog HDL', 'Jira', 'Microsoft PowerPoint', 'Databricks', 'R (Programming Language)', 'Web Scraping', 'Qlik', 'Apache Spark', 'RStudio', 'Market Basket Analysis']","['6 mos', '1 yr 4 mos', '2 mos']"
...,...,...,...,...,...,...,...
87,Parul Singh,"\n Pune, Maharashtra, India\n",Senior Associate Consultant at Infosys,"\n\n An enthusiastic management professional with about 5 years of experience in the IT industry. An MBA finance graduate from IFMR Graduate School of Business, Krea University, Chennai, with an engineering background, strives to work in a competitive environment that challenges me to make the best use of management skills.\n \n","['Institute For Financial Management And Research', 'Maharashtra Institute of Technology Aurangabad', 'Nath valley school']","['Microsoft Dynamics ERP', 'SME', 'Interpersonal Leadership', 'requirement gathering', 'Requirements Analysis', 'Research', 'Enterprise Resource Planning (ERP)', 'Data Analysis', 'Financial accounting', 'Project delivery', 'Microsoft Excel', 'Microsoft PowerPoint', 'Microsoft Outlook', 'Microsoft Word', 'Microsoft Office', 'Microsoft Dynamics', 'Management Information Systems (MIS)', 'Teamwork...","['8 mos', '1 yr 7 mos', '3 mos', '2 yrs 10 mos', '6 mos']"
88,Arun Kumar,"\n Delhi, India\n",Data Science leader for global markets at OYO Hotels,"\n\n As a data science leader, I am responsible to help OYO in its aim to become #1 hotel chain globally with data science/AI/ML initiatives. I am a seasoned Data Science/Machine Learning/Advanced Analytics professional with more than 17 years of experience across multiple business domains. The core of all the exercises in the past 17 years has been deriving insights from databases of user...","['Indian Institute of Technology, Roorkee', 'Indian Institute of Technology, Roorkee', 'Indian Institute of Foreign Trade']","['Analytics', 'Business Intelligence', 'SAS', 'Business Analytics', 'Data Warehousing', 'Solution Architecture', 'Analysis', 'Project Management', 'Business Analysis', 'Requirements Gathering', 'CRM', 'Statistics', 'R', 'Informatica', 'Cognos', 'Management', 'Leadership']","['2 yrs 2 mos', '6 yrs 10 mos', '2 yrs 3 mos', '2 yrs', '1 yr 2 mos', '1 yr 11 mos']"
89,Vaibhav Shah,\n Mumbai Metropolitan Region\n,"Manager, UCO Bank","\n\n Insightful Manager with experience directing and improving operations througheffective employee motivational strategies and strong policy enforcement. Proficientin best practices, market trends and regulatory requirements of Banking operations.Talented leader with analytical approach to business planning and day-to-dayproblem-solving.\n \n \n…\n\n see more\n \n\n","['St. Pauls School, udaipur']","['Financial Analysis', 'Team Management', 'Management', 'Business Analysis', 'Corporate Finance', 'Business Strategy', 'Financial Reporting', 'Marketing Strategy', 'Business Development', 'Microsoft Excel']","['7 yrs 1 mo', '3 yrs 4 mos']"
90,Poojitha Balanagu,"\n Hyderabad, Telangana, India\n",Business Analyst || ISB-AMPBA(Co 2021),"\n\n Having 5 years of experience in ETL(Informatica) development and certified as a Data Analyst from Udacity. Worked in Insurance and Banking domains with clients like Wavaneesa Insurance, DLG insurance,ABN Amro, MUFG Union Bank.Also, Worked on all phases of data warehouse development lifecycle, from requirement gathering, ETL design and implementation, and support new/ existing applicati...","['Indian School of Business', 'Ramachandra College of Engineering RCEE']","['Data Analysis', 'Statistical Data Analysis', 'Python', 'Project Management', 'Human Resources', 'E-commerce', 'Data Science', 'Extract, Transform, Load (ETL)', 'Data Warehousing', 'Microsoft Office', 'PowerPoint', 'Photoshop', 'HTML', 'Operating Systems', 'Informatica', 'informatica', 'SQL', 'pandas', 'Management', 'Public Speaking', 'Customer Service', 'Communication', 'English', 'DBMS', 'N...","['2 yrs', '3 yrs 2 mos', '5 yrs 6 mos']"
91,Abhishek Boorugu,"\n Hyderabad, Telangana, India\n",Senior Business Analyst,"\n\n Self motivated and team-work oriented Business Analyst, passionate about helping businesses succeed, with significant experience in 1. ETL on Red Shift Databases, 2. Building Dashboards on Tableau/Data Studio/Looker, 3. Data Scraping and Web Browser Automation with Python and Selenium, 4. Statistical Modelling, 5. Automating Monotnous Reporting Tasks, 6. Amazon Web Services, 7. ...",['Jawaharlal Nehru Technological University'],"['Tableau', 'SQL', 'Statistical Data Analysis', 'Spreadsheets', 'Data Mining', 'Data Visualization', 'Extract, Transform, Load (ETL)', 'Data Storytelling', 'Forecasting', 'R', 'Python (Programming Language)', 'Amazon Web Services (AWS)', 'JavaScript', 'Node.js', 'HTML', 'Cascading Style Sheets (CSS)', 'SASS', 'RESTful WebServices', 'Microsoft Excel', 'Google Data Studio', 'Looker (Software)', ...","['8 mos', '1 yr 7 mos', '11 mos', '4 mos', '2 mos']"

In [19]:
def totalExp(listOfExp):
    totalYears = 0
    totalMonths = 0
    for exp in listOfExp:
        if exp != '':
            if 'Expire' not in exp:
                try:
                    if exp.split()[1] == 'mos' or exp.split()[1] == 'mo':
                        totalMonths = totalMonths + int(exp.split()[0])
                    elif exp.split()[3] == 'mos' or exp.split()[3] == 'mo':
                        totalMonths = totalMonths + int(exp.split()[2])
                        totalYears = totalYears + int(exp.split()[0])
                except:
                    totalYears = totalYears + int(exp.split()[0])
    
    totalMonths = totalMonths%12
    totalYears  = totalYears + (totalMonths//12)   
    
    return (str(totalYears) + ' years, ' + str(totalMonths) + ' months')

In [20]:
df['Years of Experience'] = df['Years of Experience'].map(lambda x: totalExp(x.replace('[','').replace(']','').replace("'",'').split(',')))

In [21]:
df['Top Skills'][1]

"['Digital Marketing', 'Vendor Management', 'Strategic Sourcing', 'Product Management', 'Branding', 'Marketing', 'Google Analytics', 'Data Analytics', 'Order Fulfillment']"

In [22]:
df['Top Skills'] = df['Top Skills'].map(lambda x: x.replace(']','')
                                        .replace('[','')
                                        .replace("'",''))

In [23]:
df['About'] = df['About'].map(lambda x: x if str(x) == 'nan'
                              else x.replace('\n','')
                              .replace('see more', '')
                              .replace('…', '')
                              .strip())

In [24]:
df['Location'] = df['Location'].map(lambda x: x.replace('\n','').strip())

In [26]:
df['Index'] = df.reset_index()['index'].map(lambda x: 'C' + str(x+1))

df = df[['Index', 'Location', 'Top Skills', 'Years of Experience']]

df['Location'] = df['Location'].map(lambda x: x.lower())


def cleanLocation(location):

    locationList = location.split(', ')
    if locationList[0] != 'india':
        return ", ".join([name for name in locationList if name != 'india'])
    else:
        return ", ".join([name for name in locationList])


df['Location'] = df['Location'].map(lambda x: cleanLocation(x))

df = cc.cityToZoneMapping(df)


def experienceCalculator(exp):
    year, month = exp.split(", ")[0].split(
        " ")[0], exp.split(", ")[1].split(" ")[0]

    totalExp = (int(year)*12 + int(month))/12

    return round(totalExp)


df['Years of Experience'] = df['Years of Experience'].map(
    lambda x: experienceCalculator(x))

df.rename(columns={'Years of Experience': 'Experience'}, inplace=True)


# print(df)
df.to_csv('./data/finalTestData.tsv', sep='\t', index=False)

<ipython-input-26-df4da006f857>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'] = df['Location'].map(lambda x: x.lower())
<ipython-input-26-df4da006f857>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Location'] = df['Location'].map(lambda x: cleanLocation(x))
/Users/puneet/Documents/ISB_AMPBA/Term2/Group5_Resume_Tracking_System/utils/cityCleaning.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Zone'] = df['Location'].map(lambda x: assignZones(x))
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-26-df4da006f857>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Years of Experience'] = df['Years of Experience'].map(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:4293: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(