# Group5_Resume_Tracking_System

#### Anand Pratap Singh (12020084)
#### Francis David Vuppuluri (12020028)
#### Lavanya SN (12020075)
#### Puneet Srivastava (12020026)
#### Sangeeta Thakur (12020088)

# Importing Libraries

In [1]:
import requests
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd
import pickle

# import pytest
from selenium.webdriver import Chrome
from selenium.webdriver.common.keys import Keys

In [2]:
URL ="https://www.naukri.com/jobs-in-pune"

## Scrapping from URL and assigning it to list Job_pages

In [3]:
# with open('naukriList.pkl', 'rb') as f:
#     Job_Pages = pickle.load(f)

In [6]:
# Job_Pages =[]
driver =  webdriver.Chrome('<driver ka path>')

for i in range(,2000):
    print(i, len(Job_Pages))
    new_URL=URL+'-'+str(i)
    page = requests.get(new_URL)
    driver.get(new_URL)

    time.sleep(1)
    
    soup = BeautifulSoup(driver.page_source,'html')

    job_elems = soup.find_all('article', attrs={'class':'jobTuple bgWhite br4 mb-8'})
    print(len(job_elems))
    for i in job_elems:
        
        Job_Pages_Dict={}
            
        Job_Pages_Dict['Title'] = i.find('a', attrs = {'class':'title fw500 ellipsis'}).text
        
        Job_Pages_Dict['Company'] = i.find('a', attrs = {'class':'subTitle ellipsis fleft'}).text
        
        Job_Pages_Dict['Experience'] = i.find('span', attrs = {'class':'ellipsis fleft fs12 lh16'}).text

        Job_Pages_Dict['Salary'] = i.find('li', attrs = {'class':'fleft grey-text br2 placeHolderLi salary'}).text

        Job_Pages_Dict['Location'] = i.find('li', attrs = {'class':'fleft grey-text br2 placeHolderLi location'}).text

        Job_Pages_Dict['Desc'] =i.find('div', attrs = {'class':'job-description fs12 grey-text'}).text   
    
        Skills = i.find_all('li', attrs = {'class':'fleft fs12 grey-text lh16 dot'})
        Job_Pages_Dict['Skillset'] = [skill.text for skill in Skills]

        Job_Pages.append(Job_Pages_Dict)
    
driver.close()

2166 39113
20
2167 39133
20
2168 39153
0
2169 39153
0
2170 39153
0
2171 39153
20
2172 39173
0
2173 39173
0
2174 39173
0
2175 39173
0
2176 39173
0
2177 39173
20
2178 39193
0
2179 39193
20
2180 39213
20
2181 39233
0
2182 39233
0
2183 39233
20
2184 39253
0
2185 39253
0
2186 39253
0
2187 39253
0
2188 39253
0
2189 39253
0
2190 39253
20
2191 39273
0
2192 39273
20
2193 39293
0
2194 39293
0
2195 39293
0
2196 39293
0
2197 39293
20
2198 39313
0
2199 39313
0

In [1]:
with open('naukriList.pkl', 'wb') as f:
    pickle.dump(Job_Pages, f)

NameError: name 'pickle' is not defined

## Create a dataaframe with a list of dictionaries, each dictionary contains information for a job opening

In [9]:
Job_Desc = pd.DataFrame(Job_Pages)

# Output

In [11]:
Job_Desc

,Title,Company,Experience,Salary,Location,Desc,Skillset
0,IOS Developer-Swift,CNB YOUR HR4U LLP,3-8 Yrs,"3,00,000 - 8,00,000 PA.","Pune, Bangalore/Bengaluru, Mumbai (All Areas)",2-5+ years proven IOS app development experie...,"[C++, Coding, Ios Development, Socket.Io, SQLi..."
1,AWS Technical Project Manager- 12+ Years,Virtusa Consulting Services Pvt Ltd,12-18 Yrs,Not disclosed,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Experience: 12+ Years Looking for Immediate /...,"[data architecture, cloud migration, AWS cloud..."
2,AWS Senior Cloud Engineer-5-9 Years,Virtusa Consulting Services Pvt Ltd,5-9 Yrs,"7,00,000 - 17,00,000 PA.","Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",Experience: 5-9 YearsLooking for only immedia...,"[IT Skills, Cloud, DevOps, AWS, Druva, cloud e..."
3,AWS Cloud Engineer- 3 To 5 Years,Virtusa Consulting Services Pvt Ltd,3-5 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Experience: 3-5 yearsLooking only immediate /...,"[AWS CloudEndure, AWS Migration Hub, AWS Cloud..."
4,Information Security(Application security) Arc...,Virtusa Consulting Services Pvt Ltd,8-11 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Experience: 8-11 YearsLocation :Pan IndiaLook...,"[Cism, Threat Modelling, DAST, Maturity model,..."
...,...,...,...,...,...,...,...
39308,"VIrtual Hiring ! Apply from Anywhere In ""India""",Intelenet Global Services Private Limited,0-5 Yrs,"1,00,000 - 1,50,000 PA.","Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Work From Home Wifi / internet dongal with mi...,[]
39309,AWS Hybrid Cloud Architect,Virtusa Consulting Services Pvt Ltd,9-14 Yrs,Not disclosed,"Pune, Bangalore/Bengaluru, Chennai, Hyderabad",AWS Hybrid Cloud Architect1. We are looking f...,[]
39310,5G Solution Architect,Virtusa Consulting Services Pvt Ltd,9-14 Yrs,Not disclosed,"Pune, Chennai, Bangalore/Bengaluru, Hyderabad",Deep understanding of key Technology topics i...,[]
39311,Customer Care Executive - Pune,Intelenet Global Services Private Limited,0-2 Yrs,"50,000 - 1,75,000 PA.","Hyderabad/Secunderabad, Pune, Ahmedabad, Banga...",PERMANENT WORK FROM HOME24x7 rotational Shift...,[]
39312,JAVA Apigee Developer,Virtusa Consulting Services Pvt Ltd,3-8 Yrs,Not disclosed,"Pune, Chennai, Bangalore/Bengaluru",Someone who also has a good knowledge of Open...,[]

# Exporting to Excel

In [ ]:
Job_Desc.to_excel('Output_Check_1.xlsx')

In [ ]:
type(Job_Desc)

In [13]:
Job_Desc[Job_Desc['Salary'] != 'Not disclosed'].count()

Title         7996
Company       7996
Experience    7996
Salary        7996
Location      7996
Desc          7996
Skillset      7996
dtype: int64