# Group5_Resume_Tracking_System


#### Anand Pratap Singh (12020084)
#### Francis David Vuppuluri (12020028)
#### Lavanya SN (12020075)
#### Puneet Srivastava (12020026)
#### Sangeeta Thakur (12020088)

In [78]:
import pandas as pd
from fuzzywuzzy import fuzz
from utils.simplifiedSkillList import replaceList

pd.set_option('max_colwidth', 400)

# read train data that was subjected to simplification of skillsets
train = pd.read_csv('./data/SimplifiedTrainData.tsv', sep='\t')

# read test data that was attached with predicted salaries
test = pd.read_csv('./data/PredictSalaryEnriched.tsv', sep='\t')

In [79]:
# creating a primary key for job-opening data
train['ID'] = train.reset_index()['index'].map(lambda x: 'J'+ str(x+1))

In [80]:
# converting the maximum offered salary to lakhs, basically to scale it down.
train['Salary'] = train['Salary']/100000

# removing the word "management" as it skews the results
def getSkillset(s):
    cleanedList = []
    for i in s.split(', '):
        cleanedList.append(i.replace('management','').strip())
    
    return ", ".join(cleanedList)

# some itsy bit cleaning of skillsets in candidate data
test['Skillset'] = test['Skillset'].map(lambda x: getSkillset(x))

### Here we are trying to create a mapping of all the candidates with the top 5 most relevant jobs for them. 

#### Firstly the predicted salaries are compared against the salaries in the given range and checked if they life in the range of maximum 1.2 times the max offered salary, and minimum of 0.7 times the max offered salary. From that small subset of matched data, we do a fuzzy match of the skill text and find the top 5 jobs for each candidate.




#### Following is the code for creation of a dictionary "finalCandidateJobMapper" that keeps a mapping of CandidateID and JobID.

In [81]:
trainSalaryTracker = dict()

for index, row in train.iterrows():
    trainSalaryTracker[row['ID']] = (row['Salary'], row['Simplified Skillset'])

In [86]:
candidateJobMapper = dict()

finalCandidateJobMapper = dict() # contains the mapping of Candidate and Job with a matching score

for index, row in test.iterrows():
    jobs = set()
    for key, value in trainSalaryTracker.items():

        if (value[0]*1.2) > row['Salary LR'] and (value[0]*0.7) < row['Salary LR']:
            jobs.add(key)
            candidateJobMapper[row['Index']] = jobs

In [87]:
for index, row in test.iterrows():
    jobs = set()      
    for jobKey in candidateJobMapper[row['Index']]:
        if fuzz.token_sort_ratio(trainSalaryTracker[jobKey][1], row['Skillset']) > 10:
            jobs.add((jobKey, fuzz.token_sort_ratio(trainSalaryTracker[jobKey][1], row['Skillset']))) 

            finalCandidateJobMapper[row['Index']] = jobs
#     print(row['Index'])

C1
C2
C3
C4
C5
C6
C7
C8
C9
C10
C11
C12
C13
C15
C16
C17
C18
C19
C20
C21
C22
C23
C24
C25
C26
C27
C28
C29
C30
C31
C32
C33
C35
C36
C38
C39
C40
C41
C42
C43
C44
C45
C46
C47
C48
C49
C50
C51
C52
C53
C54
C55
C56
C57
C58
C59
C60
C62
C64
C65
C66
C67
C68
C69
C70
C71
C72
C73
C74
C75
C76
C77
C79
C80
C82
C83
C84
C85
C86
C88
C89
C90
C91
C92

In [88]:
# we finally trim the candidate-job mapping to the top 5 results based on the salary and skill match criteria

candidateToJob = dict()

for key, value in finalCandidateJobMapper.items():
    candidateToJob[key] = sorted(value, key=lambda x:x[1], reverse=True)[0:5] if len(value) > 5 else sorted(value, key=lambda x:x[1], reverse=True)

In [89]:
test[test['Index'] == 'C9']

,Index,Skillset,Experience,Zone,Salary LR
8,C9,"algorithm, machine learning, data mining, computer science, structure, distributed systems, database, sql, oop, python, java, xml, mapreduce, orm, natural language processing",22,{'south'},55.544787

In [7]:
candidateJobMapper

{'C1': {('J111', 16),
  ('J117', 22),
  ('J120', 24),
  ('J126', 20),
  ('J144', 17),
  ('J145', 20),
  ('J147', 28),
  ('J15', 19),
  ('J150', 33),
  ('J151', 16),
  ('J160', 19),
  ('J16397', 23),
  ('J16404', 16),
  ('J165', 29),
  ('J212', 26),
  ('J232', 13),
  ('J234', 25),
  ('J251', 21),
  ('J253', 23),
  ('J256', 15),
  ('J257', 21),
  ('J277', 22),
  ('J278', 25),
  ('J3', 21),
  ('J30', 24),
  ('J58', 20),
  ('J66', 32),
  ('J67', 34),
  ('J70', 18),
  ('J71', 21),
  ('J72', 11),
  ('J74', 17),
  ('J76', 18),
  ('J79', 13),
  ('J82', 17),
  ('J91', 22),
  ('J92', 34),
  ('J97', 12)},
 'C2': {('J1', 24),
  ('J101', 20),
  ('J102', 30),
  ('J104', 20),
  ('J105', 28),
  ('J112', 19),
  ('J114', 19),
  ('J116', 19),
  ('J124', 33),
  ('J129', 18),
  ('J130', 24),
  ('J132', 35),
  ('J141', 20),
  ('J142', 20),
  ('J152', 32),
  ('J157', 29),
  ('J16', 25),
  ('J16375', 25),
  ('J16383', 58),
  ('J16385', 21),
  ('J16387', 15),
  ('J16390', 26),
  ('J16392', 17),
  ('J16398', 30),
  ('J16403', 24),
  ('J16573', 24),
  ('J178', 39),
  ('J1819', 33),
  ('J1822', 25),
  ('J1823', 41),
  ('J1825', 26),
  ('J188', 21),
  ('J19', 25),
  ('J2', 41),
  ('J20', 17),
  ('J202', 26),
  ('J206', 20),
  ('J207', 35),
  ('J21', 30),
  ('J213', 17),
  ('J214', 21),
  ('J216', 23),
  ('J22', 28),
  ('J222', 18),
  ('J227', 47),
  ('J24', 38),
  ('J25', 25),
  ('J250', 25),
  ('J26', 27),
  ('J265', 24),
  ('J269', 16),
  ('J270', 31),
  ('J272', 28),
  ('J273', 31),
  ('J275', 31),
  ('J276', 35),
  ('J28', 20),
  ('J280', 20),
  ('J282', 22),
  ('J283', 31),
  ('J29', 29),
  ('J32', 26),
  ('J39', 28),
  ('J4', 31),
  ('J41', 28),
  ('J44', 26),
  ('J45', 30),
  ('J46', 21),
  ('J47', 33),
  ('J48', 12),
  ('J5', 29),
  ('J54', 16),
  ('J55', 26),
  ('J6', 21),
  ('J60', 25),
  ('J61', 30),
  ('J62', 30),
  ('J65', 18),
  ('J83', 26),
  ('J84', 22),
  ('J85', 30),
  ('J86', 11),
  ('J88', 21),
  ('J89', 26),
  ('J90', 26),
  ('J93', 23),
  ('J96', 27)},
 'C3': {('J109', 34),
  ('J110', 24),
  ('J111', 19),
  ('J117', 23),
  ('J120', 24),
  ('J139', 18),
  ('J145', 21),
  ('J147', 36),
  ('J15', 19),
  ('J151', 17),
  ('J160', 27),
  ('J16395', 28),
  ('J16397', 23),
  ('J164', 21),
  ('J16404', 19),
  ('J16411', 16),
  ('J165', 31),
  ('J1821', 16),
  ('J212', 21),
  ('J219', 19),
  ('J223', 14),
  ('J232', 22),
  ('J234', 21),
  ('J251', 20),
  ('J253', 34),
  ('J256', 25),
  ('J257', 21),
  ('J277', 28),
  ('J3', 27),
  ('J30', 22),
  ('J33', 35),
  ('J58', 35),
  ('J66', 16),
  ('J67', 24),
  ('J70', 20),
  ('J71', 26),
  ('J72', 12),
  ('J73', 11),
  ('J74', 19),
  ('J76', 19),
  ('J82', 24),
  ('J92', 24),
  ('J97', 15),
  (nan, 24)},
 'C4': {('J101', 34),
  ('J102', 29),
  ('J105', 17),
  ('J112', 18),
  ('J114', 18),
  ('J129', 13),
  ('J152', 12),
  ('J16', 16),
  ('J16383', 12),
  ('J16385', 16),
  ('J16387', 15),
  ('J16392', 15),
  ('J16394', 19),
  ('J1819', 14),
  ('J188', 24),
  ('J206', 42),
  ('J207', 16),
  ('J208', 15),
  ('J21', 20),
  ('J214', 16),
  ('J220', 18),
  ('J243', 18),
  ('J265', 22),
  ('J270', 14),
  ('J32', 18),
  ('J47', 19),
  ('J5', 20),
  ('J54', 21),
  ('J55', 38),
  ('J62', 23),
  ('J65', 40),
  ('J83', 33),
  ('J84', 36),
  ('J85', 18),
  ('J86', 14),
  ('J88', 23)},
 'C5': {('J1', 33),
  ('J104', 17),
  ('J109', 28),
  ('J110', 17),
  ('J111', 25),
  ('J116', 26),
  ('J124', 35),
  ('J130', 23),
  ('J132', 37),
  ('J139', 15),
  ('J141', 33),
  ('J142', 33),
  ('J145', 18),
  ('J157', 26),
  ('J163', 15),
  ('J16375', 28),
  ('J16390', 22),
  ('J16395', 34),
  ('J16397', 19),
  ('J16398', 30),
  ('J164', 22),
  ('J16403', 33),
  ('J16573', 24),
  ('J178', 24),
  ('J1821', 28),
  ('J1822', 13),
  ('J1823', 31),
  ('J1825', 23),
  ('J19', 21),
  ('J2', 35),
  ('J202', 23),
  ('J213', 28),
  ('J216', 12),
  ('J22', 23),
  ('J222', 30),
  ('J223', 14),
  ('J227', 25),
  ('J24', 23),
  ('J25', 25),
  ('J250', 29),
  ('J256', 20),
  ('J26', 23),
  ('J269', 18),
  ('J272', 24),
  ('J273', 34),
  ('J275', 22),
  ('J276', 24),
  ('J280', 20),
  ('J282', 16),
  ('J283', 28),
  ('J33', 31),
  ('J39', 25),
  ('J4', 27),
  ('J41', 25),
  ('J44', 23),
  ('J45', 24),
  ('J46', 16),
  ('J48', 20),
  ('J6', 25),
  ('J60', 13),
  ('J61', 25),
  ('J89', 22),
  ('J90', 11),
  ('J93', 31),
  ('J96', 21),
  ('J97', 15),
  (nan, 35)},
 'C6': {('J66', 14), ('J67', 16), ('J92', 16)},
 'C7': {('J120', 15), ('J212', 12)},
 'C8': {('J1', 29),
  ('J101', 15),
  ('J102', 18),
  ('J104', 39),
  ('J105', 49),
  ('J112', 15),
  ('J114', 15),
  ('J116', 20),
  ('J124', 27),
  ('J129', 37),
  ('J130', 20),
  ('J132', 26),
  ('J141', 20),
  ('J142', 20),
  ('J152', 31),
  ('J157', 16),
  ('J16', 25),
  ('J16383', 25),
  ('J16385', 19),
  ('J16387', 30),
  ('J16390', 24),
  ('J16392', 17),
  ('J16398', 26),
  ('J16403', 29),
  ('J16573', 25),
  ('J178', 25),
  ('J1819', 25),
  ('J1822', 19),
  ('J1823', 19),
  ('J1825', 27),
  ('J188', 26),
  ('J19', 17),
  ('J2', 21),
  ('J20', 12),
  ('J202', 27),
  ('J206', 27),
  ('J207', 27),
  ('J21', 33),
  ('J213', 23),
  ('J214', 33),
  ('J216', 26),
  ('J22', 29),
  ('J222', 28),
  ('J227', 29),
  ('J24', 32),
  ('J25', 27),
  ('J250', 18),
  ('J26', 13),
  ('J265', 11),
  ('J269', 19),
  ('J27', 11),
  ('J270', 21),
  ('J272', 29),
  ('J273', 29),
  ('J275', 19),
  ('J276', 20),
  ('J28', 15),
  ('J280', 21),
  ('J282', 17),
  ('J283', 23),
  ('J29', 16),
  ('J32', 20),
  ('J39', 25),
  ('J4', 29),
  ('J41', 25),
  ('J44', 24),
  ('J45', 25),
  ('J46', 15),
  ('J47', 20),
  ('J48', 20),
  ('J5', 21),
  ('J54', 19),
  ('J55', 27),
  ('J6', 22),
  ('J60', 18),
  ('J62', 20),
  ('J65', 24),
  ('J83', 24),
  ('J84', 32),
  ('J85', 30),
  ('J86', 30),
  ('J88', 29),
  ('J89', 24),
  ('J90', 31),
  ('J93', 20),
  ('J96', 25)}}

### An example of the result generated by our model

#### First cell shows the candidate data
#### Second cell shows the top job match for the given candidate

In [90]:
candidateToJob['C33']

[('J23390', 65), ('J25123', 64), ('J25118', 64), ('J17299', 64), ('J77', 58)]

In [91]:
test[test['Index'] == 'C33']

,Index,Skillset,Experience,Zone,Salary LR
31,C33,"angular, asp, c, web serv, sql, net, asp, linq, java, jquery, ssrs, ssis",9,{'south'},18.774067

In [92]:
train[train['ID'] == 'J23390']

,Title,Company,Experience,Salary,Skillset,Zone,Simplified Skillset,ID
23389,Opening with MSys For MEAN Stack developer - Immediate Joiners,MSys Tech India Pvt. Ltd.,5.5,20.0,"['AngularJS', 'SQL', 'Hapi', 'Node', 'Mongo DB', 'Web services', 'TDD', 'Javascript']","{'south', 'east', 'west', 'north'}","angular, sql, api, node, mongo, web serv, tdd, java",J23390